
@use "../components/variables/variables.scss" as *;

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: $ghost-white;
    height: 100dvh;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  &__box {
    display: flex;
    flex: 1 1 auto;

    &-sidebar{
      display: flex;
      flex-direction: column;
    }

    &-outlet{
        flex-grow: 1;
        background-color: $white;
        border-radius: 15px;
        // display: flex;
        // flex-direction: column;
    }

    // &-tool{

    // }
  }
}