@use '../variables/variables.scss' as *;

.labels {
  border-radius: 8px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 0 23px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $stiletto;
  }

  &__add {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    background-color: $ghost-white;

  }

  &__items {
    margin-top: 16px;

    &-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      padding: 10px;
      border-radius: 8px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f1f1f1;
      }

      .labels__item-name {
        font-size: 14px;
        color: #333;
        font-weight: 500;
      }
    }
  }
}

// Modal Bileşeni İçin Stil
.labelsModal {
  position: fixed;

  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__close {
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-size: 14px;
      font-weight: bold;
    }

    input {
      padding: 8px;
      border: 1px solid $cerebral-grey;
      border-radius: 4px;
    }
  }

  &__color-picker {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="color"] {
      border: none;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    .cancel {
      border: none;
      cursor: pointer;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 8px;
      background-color: $grey;
      color: $white;

      &:hover {
        background-color: $forged-steel;
      }
    }

    .create {
      border: none;
      cursor: pointer;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 8px;
      background-color: $azure;
      color: $white;

      &:hover {
        background-color: $london-rain;
      }
    }
  }
}