                                  // COLOR VARİABLES

// HOME PAGE COLOR
$ghost-white: #f7f8fc;

// NAVBAR

$midnight-grey: #65676d;
$moon-white: #eaf1fb;
$sonic-silver: #757575;
$black-oak: #4f4f4f;
$equinox: #64686c;

// SİDEBAR

$christmas-silver: #e0e0e0;
$icy-landscape: #c3e7ff;
$black: #000000;
$black-panther: #414244;
$carbon: #333333;
$stiletto: #313234;
$midnight-grey: #65676d;
$grey: #808080;
$forged-steel: #5a5a5a;
$azure: #007bff;
$london-rain: #0056b3;
$cerebral-grey: #cccccc;


// MAİL CONTENT
$bleu-de-france: #2f80ed;
$trolley-grey: #828282;
$smoked-pearl: #6d6e70; 
$white-solid: #f3f5fc;


// MAİL CONTENT BACKGROUND
$white: #ffffff;


//Tools
$carte-blanche: #ededfe;

// COMPOSE MODAl
$cotton-ball: #f2f6fc;
$shadowed-steel: #4a4a4a;
$chef-s-hat: #f3f5f6;
$dead-blue-eyes: #0f57cb;

// FONT-SİZE VARİABLELS

$fs-10: 0.625rem;
$fs-11: 0.688rem;
$fs-12: 0.75rem;
$fs-13: 0.813rem;
$fs-14: 0.875rem; 
$fs-15: 0.938rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-19: 1.188rem;


// FONT VARİABLES
$ff-roboto: "Roboto", sans-serif;
$ff-open: "Open Sans", sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-bold: bold;


